.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 50px 20px;
    background-color: #f8f9fa;
  }

  .content {
    margin-left: 250px;
    padding: 20px;
  }